*{
    margin: 0;
    padding: 0;
  
}
#p1{
    text-align: right;
    font-size: small;
    font-weight: 500;
    color: azure;
    margin-top: 5px;
    margin-left: -15px;

  
    
}
#qw{
    max-width: 100%;
  height: auto;
    
}
#mm{
    height: 20px;
}
#mn{
    height: 10px;
    
}
#lastdiv{
    padding-top: 20px;
    height: auto;
}
    
    
